{% load static %}
{% if message %}
    <script>
        alert('{{message}}')
    </script>f
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Team | Contact</title>
    <!--

    https://templatemo.com/tm-520-highway

    -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'assets/img/small.png' %}" rel="icon">
    <link href="{% static 'assets/img/small.png' %}" rel="apple-touch-icon">

    <link rel="stylesheet" href="{% static 'assets/one/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="{% static 'assets/one/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>Our Team <em></em></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
</div>


<div class="">
    <br>
    <br>
    <br>
    <div align="center">
        <button id="modBtn" class="modal-btn" style="background-color: black; color: white; width: 260px">Contact
            Us<em></em></button>
        <button onclick="history.back()" class="modal-btn" style="background-color: black; color: white; width: 260px">
            Home<em></em></button>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Editor-in-chief
                    </h4>
                    <p>Drs. Ogo Ubabukoh</p>
                </div>
            </div>
        </div>
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Art/Graphics Producer in – chief</h4>
                    <p>Deogratius Okudi</p>
                </div>
            </div>
        </div>
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Art/Graphics Assistant</h4>
                    <p>Perminus Ngugi Kiira</p>
                </div>
            </div>
        </div>
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Art/Graphics Manager (Website)</h4>
                    <p>Perminus Ngugi Kiira</p>
                    <p>Cocab Tech Solutions (Web Design)</p>
                </div>
            </div>
        </div>
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Editorial Advisory Board</h4>
                    <p>Drs. Pieternel Drijvers, Drs. Ogu Okany,<br>
                        Drs. Buchi Njere</p>
                </div>
            </div>
        </div>
        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Legal Consultants</h4>
                    <p>Geoffrey Ntambirweki Kandeebe<br>
                        Vivian Iro – Uchime (LLB, LLM)<br>
                        Ebele Topman<br>
                        Lyka Mtambo.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">

        </div>


        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Marketing</h4>
                    <p>Drs. Romolo Pusceddu – Senior Business Development Consultant<br>
                        Diana Namasani – Country Manager (Malawi)<br>
                        Lydia Namuswa – Country Manager (Uganda)<br>
                        Perminus Ngugi Kiira – Country Manager (Uganda)<br>
                        <br>
                </div>
            </div>
        </div>
        <BR>


        <div align="center" class="col-md-4 col-sm-6">
            <div class="service-item">
                <div align="center" class="icon">
                    <img src="{% static 'assets/img/person.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>System Developer</h4>
                    <p>John Kaita<br>
                </div>
            </div>
        </div>

    </div>
</div>


<div style="background: #313131; padding: 30px; margin-left: 70px; margin-right: 70px;" class=>
    <div class="">
        <div class="">
            <div class="content">
                <h2 style="color: white" align="center">At Kata Kata:</h2>
                <div align="center">
                    <p style="color: white">We use our humorous but educational content to sensitize social problems and
                        harmful practices that
                        hinder development in the society; by so doing, we create attitudinal changes amongst the target
                        groups.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pricing-tables">

    <h3 align="center" style="color: black">Our Columnists</h3>

    <div class="container">
        <div class="" style="margin-left: 15px; margin-right: 15px">
            <div style="padding: 30px" class="table-item">
                <h4>Liam Katabira</h4>
                <br>
                <br>
                <img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/WhatsApp-Image-2019-08-29-at-20.43.26.jpeg"
                     alt="">
                <span></span>
                <ul>
                    <li>Liam Katabira is 7 years old. He was born on December 4, 2011, in Kampala, Uganda. He started
                        school when he was 3 years old and he is presently a Primary Two Orange student at Sir Apollo
                        Kaggwa Nakasero.
                        At 5 years, he recently won the Bumble Bee Championship for Kindergartens and Nursery Schools,
                        organized by Lotte Kindergarten and Pepea Africa initiative in early 2017. The competition was
                        centred on the spelling of some unique words. He walked away with a tab for kids with stories
                        and games. The victory has become a huge inspiration for him. Since winning the award, he has
                        never looked back in his desire to become a creative writer.
                        According to Liam’s mother, he has a unique skill for creative writing and he imagines a lot
                        when writing.<br>Some of the thoughts are abstract ideas, but well contextualized. While
                        Katabira
                        Liam is unquestionably gifted, with so many written stories to his credit, his talent no doubts,
                        reminds one of the importance of harnessing the creativity in children and encouraging other
                        kids to develop their creative writing potentials.<br>
                        Apart from writing, Liam likes reading.<br>He hopes one day his stories will be published.
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div style="padding: 30px" class="table-item">
                <h4> Samuel Ouma</h4>
                <br>
                <br>
                <img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/WhatsApp-Image-2019-08-29-at-20.42.44.jpeg"
                     alt="">
                <span></span>
                <ul>
                    <li>Samuel is a 25 year old graduate of Communication and Media studies from Kenya.<br><br>
                        Areas of interest: Research, news writing, news reporting, editing.<br><br>
                        Hobbies: Travelling, singing, reading novels, playing football.<br><br>
                    </li>

                </ul>
            </div>
        </div>

        {# Lined#}

        <div class="col-md-4 col-sm-6">
            <div style="padding: 30px" class="table-item">
                <h4>Tumwine Edward</h4>
                <br>
                <br>
                <img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/10/DSC_1258-1020x680.jpg"
                     alt="">
                <span></span>
                <ul>
                    <li>Tumwine Edward is a multi-media journalist and digital media trainer
                        in communications.
                        He is a keen follower of music around the world. His area of interest
                        is music.
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
        {#        End Linet#}

        <div class="col-md-4 col-sm-6">
            <div style="padding: 30px" class="table-item">
                <h4> Arthur Adil. N</h4>
                <br>
                <br>
                <img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/arthur-3.jpg"
                     alt="">
                <span></span>
                <ul>
                    <li>Arthur Adil is an online enthusiast and a
                        writer, who studied Mass Communication
                        and Marketing at Uganda Christian
                        University. Once upon a time, he was a
                        marketing intern at VCL studios. After
                        University, he worked for online sales at
                        iNotice Media Ltd before he joined Kata
                        Kata Cartoon magazine.
                        At Kata Kata cartoon magazine, he focuses
                        on advertising and marketing.
                    </li>
                </ul>
            </div>
        </div>



         <div class="col-md-4 col-sm-6">
            <div style="padding: 30px;" class="table-item">
                <h4>Linet Wanjiku</h4>
                <br>
                <br>
                <img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/IMG_20190722_103407-975x1300.jpg"
                     alt="">
                <ul>
                    <li>Linet Wanjiku is a tourism professional with a Bachelor’s degree in Tourism Management. She is
                        based in Kenya and enjoys travelling, socializing, reading novels and cooking. Her areas of
                        interest are in entertainment, culture, fashion, music and food. She loves creative
                        writing<br><br>
                        Favourite quote:<br>
                        “The are two important days,the day a man is born and the day he discovers why“<br>
                        -Mark Twain
                    </li>
                </ul>
            </div>
        </div>


    </div>


</div>


<footer>
    <div class="container-fluid">
        <div class="col-md-12">
            <p>Kata Kata
                | African Cartoons</p>
        </div>
    </div>
</footer>


<!-- Modal button -->
<div class="popup-icon">
    <br>
    <button style="background-color: red; margin-left: 20px; color: white; width: 50px; height: 60px"
            onclick="history.back()">Back
    </button>
</div>

<!-- Modal -->
<div style="background: black" id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title">Talk to us at <em>Kata Kata</em></h3>
            <div class="close-btn"><img src="{% static 'assets/one/img/close_contact.png' %}" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'teampage' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..."
                                       required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="email" type="email" class="form-control" id="email"
                                       placeholder="Your email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message"
                                          placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                {#                                <button type="submit" id="form-submit" class="btn">Send Message Now</button>#}
                                <button type="" id="" class="">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'assets/one/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="{% static 'assets/one/js/plugins.js' %}"></script>
<script src="{% static 'assets/one/js/main.js' %}"></script>

</body>
</html>