{% extends 'agentmenu.html' %}
{% load static %}
{% block body %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <br>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 style="color: {{ summary.color }}  !important;" class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Person</th>
                            <th>Mobile</th>
                            <th>Student</th>
                            <th>Purpose</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Reference</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Person</th>
                            <th>Mobile</th>
                            <th>Student</th>
                            <th>Purpose</th>
                            <th>Amount</th>
                            <th>Reference</th>
                            <th>Status</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for transacton in summary.transactions %}
                            <tr>
                                <td>{{ transacton.date_created }}</td>
                                <td>{{ transacton.user.fullname }}</td>
                                <td>{{ transacton.mobile }}</td>
                                <td>{{ transacton.student.fullname }}</td>
                                <td>{{ transacton.purpose }}</td>
                                <td>{{ transacton.amount }}</td>
                                <td>{{ transacton.status }}</td>
                                <td>{{ transacton.reference }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


{% endblock %}